@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --text-principal: #FFFFFF;
    --text-secondary: #C0C0C0;
    --button-principal: #167BF7;
    --button-principal-hover: #0b59b8;
    --background-color: #00030C;
    --text-font: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-principal);
    font-family: var(--text-font);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.container-box {
    margin: 0 5rem;
}
.container__title {
    font-weight: 700;
}

.container__image {
    margin: 1.5rem 0 2rem 0;
}

.container__button {
    background-color: var(--button-principal);
    color: var(--text-principal);
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    display: block;
    margin-bottom: 1rem;
    transition: 300ms;
}

.container__button:hover {
    background-color: var(--button-principal-hover);
}

.container__button_secondary {
    background-color: transparent;
    border: 1px solid var(--text-principal);
    transition: 300ms;
}

.container__button_secondary:hover {
    background-color: var(--text-secondary);
    border-color: transparent;
    color: var(--background-color);
}

.container__notice {
    font-size: 0.75rem;
    color: var(--text-secondary);
}

.secondary {
    align-items: center;
    margin: 5rem 10rem;
}

.container__secondary__image {
    width: 80%;
    padding: 1rem;
    transition: 300ms;
}

.container__secondary__image:hover {
    width: 90%;
}

.container__secondary__title {
    font-size: 3rem;
}

.text__description {
    color: var(--text-secondary);
    padding: 0.3rem 0;
}

.button_inline {
    display: inline-block;
    margin-top: 1rem;
}

.dispositives{
    align-items: center;
    text-align: center;
    margin: 5rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.dispositives__list {
    display: flex;
}

.dispositives__list__item {
    padding: 2rem;
}

.dispositives__list__title {
    font-size: 2rem;
}

.footer {
    text-align: center;
    margin: 5rem 10rem;
}

.footer__logo {
    margin: 2.5rem 0;
}

.footer__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 1.5rem;
}

.footer__list__item a {
    color: var(--text-principal);
    text-decoration: none;
    margin-bottom: 1.5rem;
    
    text-decoration: underline dotted transparent;
    transition: text-decoration-color 300ms;
}

.footer__list__item a:hover {
    color: var(--text-secondary);
    text-decoration-color: var(--text-secondary);
}
.footer__text {
    font-size: 0.85rem;
    color: var(--text-secondary);
    margin-bottom: 1.5rem;
}